// font-family: 'Lexend Deca', sans-serif;
// font-family: 'Inter', sans-serif;

.stats-card {
  & > * {
    max-width: 23rem;
    margin: auto;
    text-align: center;

    @media (min-width: 767px) {
      max-width: 45rem;
      text-align: left;
    }
  }

  padding: 2rem 1rem;

  @media (min-width: 767px) {
    padding: 4rem 4rem;
  }

  .main-heading {
    font-size: $text_size_2;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: $White;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;

    .link {
      color: $soft_violet;
    }

    @media (min-width: 767px) {
      font-size: $text_size_1;
    }
  }

  .description {
    color: $slightly_transparent_white_main;
    font-size: $text_size_5;
    font-family: "Lexend Deca", sans-serif;
    letter-spacing: 0.1rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;

    @media (min-width: 767px) {
      font-size: $text_size_4;
      padding: 2rem 8rem 0 0;
      line-height: 1.7;
    }
  }

  .stats-container {
    @include flexBox(column, center, center, 1rem);

    @media (min-width: 767px) {
      @include flexBox(row, space-between, center, unset);
      padding: 3rem 9rem 0 0;
      max-width: 45rem;
    }

    .stats {
      .stats-count {
        color: $White;
        font-size: $text_size_3;
        font-family: "Inter", sans-serif;

        @media (min-width: 767px) {
          font-size: $text_size_2;
        }
      }

      .stats-for {
        color: $slightly_transparent_white_stats;
        font-family: "Lexend Deca", sans-serif;
        text-transform: uppercase;

        @media (min-width: 767px) {
          font-size: $text_size_4;
        }
      }
    }
  }
}
