// fonts

$text_size_1: 3.5rem;
$text_size_2: 2rem;
$text_size_3: 1.5rem;
$text_size_4: 1.2rem;
$text_size_5: 0.9rem;

// colors
//   primary
$vary_dark_blue: hsl(233, 47%, 7%);
$dark_desaturated_blue: hsl(244, 38%, 16%);
$soft_violet: hsl(277, 64%, 61%);

//   neutral
$White: hsl(0, 0%, 100%);
$slightly_transparent_white_main: hsla(0, 0%, 100%, 0.75);
$slightly_transparent_white_stats: hsla(0, 0%, 100%, 0.6);
